.sign-up {
  max-width: 500px;
  margin: 2rem auto;

  display: flex;
  justify-content: center;
  padding: 1.4rem;

  background-color: #14171c;
  border-radius: 6px;
}

h1 {
  padding: 1rem 0 1.5rem 0;
  font-size: 1.1rem;
  text-align: start;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form div input {
  width: 350px;
  font-size: 1rem;
  color: #fff;
  padding: 0.6rem 0.8rem;
  background-color: #232631;
  border: none;
  border-radius: 6px;
  outline: 0px solid transparent;
  transition: 0.1s;
}

.form div input:focus {
  outline: 1.6px solid grey;
}

.btn {
  margin-top: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 60%;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background-color: #e6c924;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #fff031;
}
