<div class="container">
    <div class="img">
        <img src="{{movie.img}}" alt="Movie Banner">
    </div>
    <section class="content">
        <h1 class="title">{{movie.title}} - <span class="year">{{movie.year}}</span></h1>
        <p class="rating"><svg fill="#ffc107" width="20px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M16 4.588l2.833 8.719H28l-7.416 5.387 2.832 8.719L16 22.023l-7.417 5.389 2.833-8.719L4 13.307h9.167L16 4.588z">
                    </path>
                </g>
            </svg>{{movie.rating.toFixed(1)}}</p>

        <p>{{movie.minutes}} minutes</p>
        <h3>Sinopse</h3>
        <p class="sinopse">{{movie.sinopse}}</p>
        <div *ngIf="movie.budget != 0">
            <h3>Budget</h3>
            <p>USD ${{movie.budget}}</p>
        </div>
        <div *ngIf="movie.revenue != 0">
            <h3>Revenue</h3>
            <p>USD ${{movie.revenue}}</p>
        </div>
    </section>
</div>