.footer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #14171c;
  color: white;
}

p {
  font-size: 0.7rem;
  margin-left: 40px;
}

.my-links {
  margin-top: 5px;
  display: flex;
  gap: 15px;
  margin-right: 40px;
}

a {
  padding: 0.5rem;
}
