header {
  max-width: 100%;
  border-bottom: 1px solid #0d1015;
}

.container {
  max-width: 1500px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1.8rem;
  padding-bottom: 1rem;
}

.header .logo img {
  max-width: 180px;
}

.icons-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons-menu a {
  box-sizing: content-box;
  padding: 0.7rem;
}

.icons-menu svg {
  fill: #66666f;
  transition: 0.2s;
}

.icons-menu svg:hover {
  fill: #fff;
}

.activated svg {
  fill: #fff;
}

/* responsive */

@media screen and (max-width: 1520px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 500px;
  }

  .icons-menu {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 312px;
  }

  .logo-img {
    display: none;
  }

  .logo .logo-img_mobile img {
    max-width: 30px;
  }
}

@media screen and (max-width: 330px) {
  .container {
    max-width: 200px;
  }
}

@media screen and (min-width: 500px) {
  .logo-img_mobile {
    display: none;
  }
}
