.container {
  max-width: 1500px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 1.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0d1015;
}

.header .logo img {
  max-width: 180px;
}

.icons-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons-menu a {
  box-sizing: content-box;
  padding: 0.7rem;
}

.icons-menu svg {
  fill: #66666f;
  transition: 0.2s;
  cursor: pointer;
}

.icons-menu svg:hover {
  fill: #fff;
}

.activated svg {
  fill: #fff;
}

app-sidebar {
  display: none;
}

/* responsive */

@media screen and (max-width: 1520px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 800px;
  }
}

@media screen and (max-width: 840px) {
  .container {
    max-width: 680px;
  }

  .header .logo img {
    max-width: 100px;
  }

  .icons-menu .svg-home {
    width: 19px;
  }

  .icons-menu .svg-bookmarks {
    width: 15px;
  }

  .icons-menu .svg-login {
    width: 17px;
  }

  app-search-bar {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 500px;
  }

  .icons-menu {
    display: none;
  }

  app-sidebar {
    display: flex;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 312px;
  }

  .logo-img {
    display: none;
  }

  .logo .logo-img_mobile img {
    max-width: 30px;
  }
}

@media screen and (max-width: 330px) {
  .container {
    max-width: 200px;
    justify-content: center;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 540px) {
  .logo-img_mobile {
    display: none;
  }
}
