.search-bar input {
  padding: 0.6rem 1.2rem;
  font-size: 0.8rem;
  color: #fff;
  background: #232631;
  border: none;
  border-radius: 6px;
  outline: #ffff61;

  transition: 0.2s;
}

.search-bar input:focus {
  margin: 0 0.6rem;
  transform: scale(1.06);
}

.search-btn {
  margin-left: 10px;
  padding: 6px 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-btn svg {
  width: 14px;
}

.results {
  margin-top: 16px;
  margin-left: -70px;
  max-height: 380px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  position: absolute;
  overflow-y: scroll;
  z-index: 1;

  background-color: #2d3444;
  border-radius: 6px;
}

.movie {
  padding: 6px;
  display: flex;
  gap: 8px;
  color: #fff;
  font-size: 0.6rem;
  text-decoration: none;
}

.movie img {
  max-width: 45px;
}

.movie div p {
  margin-top: 6px;
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

@media screen and (min-width: 700px) and (max-width: 840px) {
  .search-bar {
    margin-left: 1.4rem;
  }

  .search-bar input {
    padding: 0.5rem 1.4rem;
    font-size: 0.7rem;
  }
  .search-btn svg {
    width: 13px;
  }
}

@media screen and (max-width: 700px) {
  .search-bar input {
    padding: 0.5rem 1.3rem;
    font-size: 0.7rem;
  }
  .search-btn svg {
    width: 10px;
  }
}
