<section class="sign-in">
    <div class="container">
        <h1>Sign in</h1>
        <form class="form">

            <div>
                <input type="email" id="email" placeholder="Email">
                <label for="email"></label>
            </div>
            <div>
                <input type="password" id="password" placeholder="Password">
                <label for="password"></label>
            </div>

            <div class="btn"><button>Sign in</button></div>

        </form>
    </div>
</section>